* {
  box-sizing: border-box;
    font-family: Montserrat;
}

html {
    scroll-behavior: smooth;
}

.header-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
}

.header-item-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.basic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34vw, 1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 3rem;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

img {
    margin-right: 0;
}

.grid-item {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

h1 {
    font-family: Montserrat;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    font-family: Montserrat;
    margin-top: 0;
    font-size: 20;
    font-weight: 300;
}

h5 {
    text-align: center;
    font-family: Montserrat;
    
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}


input {
    -webkit-user-select: text; /* Chrome, Opera, Safari */
    -moz-user-select: text; /* Firefox 2+ */
    -ms-user-select: text; /* IE 10+ */
    user-select: text; /* Standard syntax */
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Ausklappen';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Einklappen';
}

.read-more-trigger {
  cursor: pointer;
  display: flex;
  padding: 0 .5em;
  color: black;
  font-size: .9em;
  line-height: 2;
  border: 1px dotted #ddd;
    align-items: center;
    justify-content: center;
}

.topbutton {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #fff; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.topbutton:hover {
  background-color: lightgray; /* Add a dark-grey background on hover */
}
/**
    
    .parent {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}
    

.grid-item {
    outline: 10px solid #cacaca; border-radius: 1em;
    background-color: #cacaca;
    box-shadow: 10px 5px 5px grey;
}

.vjs-default-skin.vjs-has-started .vjs-control-bar {
visibility: hidden;
}
    **/
    