* {
  box-sizing: border-box;
    font-family: Montserrat;
}

@media screen and (min-width: 780px) {
.full-width-img {
margin: auto;
width: 90%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 150px;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

.grid-item {
    outline: 10px solid #cacaca; border-radius: 1em;
    background-color: #cacaca;
    box-shadow: 10px 5px 5px grey;
}

h1 {
    font-family: Montserrat;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    font-family: Montserrat;
    margin-top: 0;
    font-size: 20;
    font-weight: 300;
}

h5 {
    text-align: center;
    font-family: Montserrat;
    
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}
